.App {
  background: #33344c;
  color: white;
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-container:first-child {
  margin: 10px;
}

.image-container:last-child {
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}