body {
  background: #33344c !important;
  color: white !important;
  padding: 10px;
}

#root {
  height: 100%;
}

.top-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.showcase-component-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  height: 100%;
}

.properties-container {
  display: flex;
  flex-wrap: wrap;
}

.properties-set {
  flex: 1;
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  flex: 1;
}

.image-container {
  margin: 10px;
}

.image-container img {
  max-width: 100%;
}

.showcase-switch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5px 10px 5px 11px;
  background: #A8A8B2;
  color: black;
  cursor: pointer;
  font-weight: bold;
}

.drop-zone {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  min-height: 300px;
  background: #A8A8B2;
}

.image-mode-switch {
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  width: 50%;
  padding: 5px 10px 5px 11px;
  background: #A8A8B2;
  color: black;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.dashed {
  border: 2px dashed #999;
}

.drop-image-text {
  padding: 10px;
}

.dest-canvas {
  max-width: 100%;
}